.logo {
	background-color: rgb(255, 166, 43);
	position: relative;
}

.logo::before {
	position: absolute;
	top: 0;
	left: -90%;
	width: 100%;
	height: 100%;
	content: '';
	z-index: -1;
	background-color: rgb(255, 166, 43);
}
.logo::after {
	position: absolute;
	top: 0;
	right: -35%;
	width: 100%;
	height: 200px;
	content: '';
	z-index: -1;
	background-color: rgb(255, 166, 43);
	transform: rotate(-15deg);
}

.NavLinkActive::before {
	display: block;
	content: '';
	position: absolute;
	top: -5%;
	left: -10%;
	bottom: 0;
	right: 0;
	width: calc(100% + 12px);
	height: calc(100% + 10px);
	z-index: -1;
	background-color: rgb(255, 166, 43);
	transform: skewX(20deg);
	padding: 2.5rem 0;
}

@media screen and (max-width: 768px) {
	.NavLinkActive {
		color: rgb(255, 166, 43);
	}
	.NavLinkActive::before {
		display: none;
	}
}
